body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.chart-title {
  font-family: georgia;
  font-size: 16px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
#bar-chart rect {
  fill: steelblue;
}
#bar-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
hr { 
    border: 0;
    height: 1px;
    background: #696969;
}
.chart rect {
  fill: #ff9900;
}
.chart text {
  fill: white;
  font: 9px sans-serif;
  text-anchor: end;
}
.axis text {
  fill: black;
  font: 10px sans-serif;
}
.caption {
  font-family: georgia;
  font-size: 11px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis path {
  display: none;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  stroke-dasharray: 2 2;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 80px;                    
    height: 45px;                   
    padding: 6px;               
    font-size: 10px;
    font-family: Arial;
    color: black;
    font-weight: normal;
    background: white;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 2px 2px #888888;
    pointer-events: none;           
}

#container {
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}
