<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://d3js.org/d3.v3.min.js"></script>

			<style>

				.chart rect {
				  fill: steelblue;
				}

				.chart text {
				  fill: white;
				  font: 10px sans-serif;
				  text-anchor: end;
				}

				</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<svg class="chart"></svg>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<!-- Custom JavaScript files set in YAML front matter -->
			{% for js in page.customjs %}
			<script async type="text/javascript" src="{{ js }}"></script>
			{% endfor %}

			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>